.grid-33
  .app--section
    ul.app--message--list
      each val in recentDirectMsg
        li
          h3
            | Conversation with 
            a= val.recipientName
          ul.app--message--conversation
            li.app--message
              .app--avatar(style= `background-image: url(${val.recipientProfileImg})`)
                img(src=`${val.recipientProfileImg}`)
              p.app--message--text= val.message 
              p.app--message--timestamp= val.createdAt
          
